@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

/* Ocultar barra de rolagem */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Utilitário para texto vazado (Stroke) - usado na seção de Contato */
.text-stroke {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}

/* --- ANIMAÇÃO DA TEXTURA DO BACKGROUND --- */
/* Isso faz a textura de "noise" se mover infinitamente */
@keyframes pan {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

.animate-pan {
  animation: pan 20s linear infinite;
}
